@keyframes slideUpFadeIn {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animateCard {
    animation: slideUpFadeIn 0.6s ease forwards;
    opacity: 0;
  }
  